@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://unpkg.com/normalize.css") layer(normalize);

@layer normalize, base, demo;

@layer demo {

  [aria-hidden] li,
  .nav li {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  :root {
    --bg: color-mix(in hsl, canvasText 8%, canvas);
    --color: color-mix(in hsl, canvasText 92%, canvas);
  }

  .nav button {
    padding: 0 !important;
    width: 100%;
  }

  .nav {
    color: var(--color);
    box-shadow: 0 4px 8px 0 hsl(0 0% 0% / 0.2);
    position: fixed;
    bottom: 2rem;
    left: 50%;
    translate: -50% 0;
    padding: 8px !important;
    border-radius: 100px;
    /* background: linear-gradient(var(--bg), var(--bg)) padding-box,
      linear-gradient(hsl(0 0% 90% / 0.5), hsl(0 0% 10% / 0.25)) border-box;
    border: 1px solid transparent; */
    background: #000;
    border: 1px solid #000 !important;
    color: #ccc !important;
    transition: opacity 0s var(--transition);
    z-index: 2;
  }

  body:has(:popover-open) .nav {
    opacity: 0;
    transition-delay: 0s;
  }

  [popover] [aria-hidden] :where(a),
  .nav :where(a, button) {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    color: inherit;
    background: transparent;

    &:is(:focus-visible) {
      outline-color: transparent;
      outline-width: 0px;
      background: color-mix(in hsl, canvasText, canvas 75%);
    }
  }

  [popover] [aria-hidden],
  .nav ul {
    display: flex;
    gap: 4px;
    padding: 0 !important;
    margin: 0;
    list-style-type: none;
  }

  [popover] [aria-hidden] {
    position: absolute;
    bottom: 4px;
    left: 50%;
    translate: -50% 0;
  }

  .nav {
    anchor-name: --nav;
  }

  .theme-icon path {
    display: none;
  }

  [data-theme="system"] .theme-icon path:nth-of-type(1),
  [data-theme="light"] .theme-icon path:nth-of-type(2),
  [data-theme="dark"] .theme-icon path:nth-of-type(3) {
    display: block;
  }

  [popover] .content__content {
    top: 0;
    left: 0;
    width: min(var(--width), 100vw - 2rem);
    height: min(var(--height), 80vh);
    padding: 4px !important;
  }

  [popover] {
    color: var(--color);
    position-anchor: --nav;
    margin: 0;
    inset: unset;
    background: linear-gradient(var(--bg), var(--bg)) padding-box,
      linear-gradient(hsl(0 0% 90% / 0.5), hsl(0 0% 10% / 0.25)) border-box;
    border: 1px solid transparent;
  }

  /* Animation */
  :root {
    --width: 640px;
    --height: 580px;
    --power-in: linear(0 0%,
        0.0039 6.25%,
        0.0156 12.5%,
        0.0352 18.75%,
        0.0625 25%,
        0.0977 31.25%,
        0.1407 37.5%,
        0.1914 43.74%,
        0.2499 49.99%,
        0.3164 56.25%,
        0.3906 62.5%,
        0.5625 75%,
        0.7656 87.5%,
        1 100%);
    --power-in-out: linear(0 0%,
        0.0012 14.95%,
        0.0089 22.36%,
        0.0297 28.43%,
        0.0668 33.43%,
        0.0979 36.08%,
        0.1363 38.55%,
        0.2373 43.07%,
        0.3675 47.01%,
        0.5984 52.15%,
        0.7121 55.23%,
        0.8192 59.21%,
        0.898 63.62%,
        0.9297 66.23%,
        0.9546 69.06%,
        0.9733 72.17%,
        0.9864 75.67%,
        0.9982 83.73%,
        1 100%);
    --power-out: linear(0 0%,
        0.2342 12.49%,
        0.4374 24.99%,
        0.6093 37.49%,
        0.6835 43.74%,
        0.7499 49.99%,
        0.8086 56.25%,
        0.8593 62.5%,
        0.9023 68.75%,
        0.9375 75%,
        0.9648 81.25%,
        0.9844 87.5%,
        0.9961 93.75%,
        1 100%);
    --transition: calc(var(--speed, 0.35) * 1s);
    --ease: linear(0 0%,
        0.0027 3.64%,
        0.0106 7.29%,
        0.0425 14.58%,
        0.0957 21.87%,
        0.1701 29.16%,
        0.2477 35.19%,
        0.3401 41.23%,
        0.5982 55.18%,
        0.7044 61.56%,
        0.7987 68.28%,
        0.875 75%,
        0.9297 81.25%,
        0.9687 87.5%,
        0.9922 93.75%,
        1 100%);
  }

  .nav li svg {
    width: 24px;
  }

  [popover] {
    transition-property: display, overlay, width, height, border-radius;
    transition-duration: var(--transition);
    transition-behavior: allow-discrete;
    transition-timing-function: var(--ease);
    translate: -50% 0;
    padding: 0 !important;
    clip-path: inset(0 0 0 0 round 21px);
    box-shadow: 0 4px 8px 0 hsl(0 0% 0% / 0.2) !important;

    bottom: anchor(bottom);
    left: anchor(left);

    width: anchor-size(width);
    height: anchor-size(height);
    border-radius: 21px;

    @starting-style {
      width: min(var(--width), 100vw - 2rem);
      height: min(var(--height), 80vh);
    }
  }

  [popover] .content__content {
    transition-property: display, opacity, filter;
    transition-duration: calc(var(--transition) * 0.5);
    transition-behavior: allow-discrete;
    transition-timing-function: var(--power-out);
    opacity: 0;
    filter: blur(4px);
    display: flex;
    flex-direction: column;

    .links {
      position: relative;
      flex: 1;

      nav {
        padding-block: 12px;
        overflow: auto;
        position: absolute;
        inset: 0;
        scrollbar-color: canvasText transparent;
        scrollbar-width: thin;
      }

      &:after {
        content: "";
        pointer-events: none;
        position: absolute;
        inset: 0;
        background: var(--bg);
        mask: linear-gradient(0deg, #000, #0000 12px calc(100% - 12px), #000);
      }
    }
  }

  .content__content h3 {
    font-size: 0.875rem;
    margin: 0;
    opacity: 0.675;
    font-weight: 400;
    padding: 0 12px !important;
    margin-block: 6px;
  }

  .content__content li a svg {
    width: 16px;
  }

  .content__content li a {
    font-weight: 300;
    display: flex;
    color: var(--color);
    align-items: center;
    height: 40px;
    gap: 12px;
    text-decoration: none;
    padding: 6px 12px !important;
    border-radius: 6px;

    &:is(:hover, :focus-visible) {
      outline-color: transparent;
      outline-width: 0px;
      background: color-mix(in hsl, canvas, canvasText 15%);
    }
  }

  .content__content ul {
    margin: 0;
    padding: 0 !important;
    padding-inline: 4px;
    list-style-type: none;
  }

  .content_div {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .heading {
    padding-top: 0.75rem !important;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }

  .pill {
    --color: color-mix(in hsl, canvasText 85%, canvas);
    font-size: 0.75rem;
    text-decoration: none;
    border: 1px solid color-mix(in hsl, currentColor, #0000 75%);
    color: inherit;
    background: color-mix(in hsl, canvas 85%, canvasText);
    color: var(--color);
    padding: 2px !important;
    border-radius: 4px;
    margin-left: 0.75rem;

    &:is(:hover, :focus-visible) {
      --color: canvasText;
      outline-color: transparent;
      outline-width: 0px;
    }
  }

  hr {
    opacity: 0.25;
    margin: 12px 0;
  }

  [popover] {
    overflow: hidden;
  }

  [type="search"] {
    width: 100%;
    padding: 0.75rem !important;
    background: transparent;
    border: 0;
    color: var(--color);
    border-radius: calc(21px - 4px) !important;
    transition: background-color 0.2s;
    scroll-margin-top: 100px;

    &:focus-visible {
      /* background: color-mix(in hsl, canvasText, canvas 12%); */
      outline-color: #0000;
      outline-width: 0;
    }
  }

  [popover]:popover-open .content__content {
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(var(--transition) * 0.5);
    transition-timing-function: var(--power-in);

    @starting-style {
      opacity: 0;
      filter: blur(4px);
    }
  }

  [popover]:popover-open {
    width: min(var(--width), 100vw - 2rem);
    height: min(var(--height), 80vh);
    border-radius: 21px;

    @starting-style {
      width: anchor-size(width);
      height: anchor-size(height);
      border-radius: 21px;
    }
  }

  [popover] [aria-hidden] li {
    /* let's say the speed is 20% and has to be done by 75% */
    /* Your delay window is 55% which you can split using sin() for a curve */
    --speed: calc(var(--transition) * 0.7);
    --delay: calc(sin((var(--i) / 6) * 45deg) * (var(--speed) * 1));
    transition-property: opacity, translate, filter;
    transition-duration: var(--speed);
    transition-delay: var(--delay);
  }

  [popover]:popover-open [aria-hidden] li {
    translate: 0 100%;
    opacity: 0;
    filter: blur(4px);

    @starting-style {
      translate: 0 0;
      opacity: 1;
      filter: blur(0);
    }
  }

  .arrow {
    position-anchor: --nav;
    width: clamp(80px, 10vmin, 200px);
    container-type: inline-size;
    position: absolute;
    bottom: anchor(top);
    left: anchor(center);

    color: color-mix(in hsl, canvasText, #0000 40%);
  }

  .arrow svg {
    width: 100%;
    scale: -1 -1;
  }

  .arrow label {
    font-family: "Gloria Hallelujah", cursive;
    position: absolute;
    left: 80%;
    bottom: 25%;
    rotate: 8deg;
    font-size: 20cqi;
    white-space: nowrap;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme="light"] {
    color-scheme: light only;
  }

  [data-theme="dark"] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0)));
    --fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0)));
    --fluid-preferred: calc((var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min)));
    --fluid-type: clamp((var(--fluid-min) / 16) * 1rem,
        ((var(--fluid-min) / 16) * 1rem) - (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) + (var(--fluid-preferred) * var(--variable-unit, 100vi)),
        (var(--fluid-max) / 16) * 1rem);
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  /* body {
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, transparent 70%);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  } */

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0 !important;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

@property --pos {
  inherits: true;
  initial-value: 100%;
  syntax: "<percentage>";
}

::placeholder {
  color: canvasText;
  mask: linear-gradient(-75deg,
      #0009 calc(50% - 4ch),
      #000,
      #0009 calc(50% + 4ch)) 0% 50% / 300% 100%;
  mask-position: var(--pos) 50%;
}

[popover]:popover-open [type="search"] {
  animation: shimmer 8s calc(var(--speed, 0.35) * 1s);
}

@keyframes shimmer {
  0% {
    --pos: 100%;
  }

  50%,
  100% {
    --pos: 0%;
  }
}

[data-backdrop="true"] [popover]::backdrop {
  transition-property: overlay, display, opacity;
  transition-duration: calc(var(--speed, 0.35) * 1s);
  transition-behavior: allow-discrete;
  background: hsl(0 0% 0% / 0.25);
  backdrop-filter: blur(4px);
  opacity: 0;
}

[data-backdrop="true"] [popover]:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  [data-backdrop="true"] [popover]:popover-open::backdrop {
    opacity: 0;
  }
}

.logo-dark,
.logo-light {
  display: none;
}

[data-theme="dark"] .logo-dark {
  display: block;
}

[data-theme="dark"] .logo-light {
  display: none;
}

[data-theme="light"] .logo-light {
  display: block;
}

[data-theme="light"] .logo-dark {
  display: none;
}

@import url("https://rsms.me/inter/inter.css");

.body-snake {
  font-family: "Inter", sans-serif;
}

.body-snake {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-snake {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px !important;
}

.snake {
  position: absolute;
  transition: transform 500ms;
  width: 100%;
  transform: translateY(-50%);
  top: 86%;
}

.snake path {
  fill: none;
  stroke: black;
  stroke-dasharray: 29 100;
  stroke-width: 1.5px;
}

.pos1 .snake {
  transform: translateX(33.33%) translateY(-50%);
}

.pos2 .snake {
  transform: translateX(66.67%) translateY(-50%);
}

.left .snake path {
  stroke-dashoffset: 0;
  transform: translateX(0);
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.right .snake path {
  stroke-dashoffset: -70px;
  transform: translateX(-60%);
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.instant .snake path {
  transition: none;
}

.menu-snake {
  display: flex;
  height: 100px;
  left: 9px;
  position: relative;
}

.item-snake {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 136px;
}

.icon-snake {
  width: 50px;
}







:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

/* 
* {
  box-sizing: border-box;
} */
.character-body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #191c29;*/
}

.character-card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px !important;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.character-card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.character-card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.character-card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
}

.character-card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.character-card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

@media only screen and (max-width: 767px) {
  :root {
    --card-height: 300px;
    --card-width: auto
      /* calc(var(--card-height) / 1.5) */
    ;
  }
}



/**
 * CSS custom properties
 */
 :root {
  --black: #404040;
  --white: #fff;
  --gray: rgba(64, 64, 64, 0.15);
  --font-courgett: "Courgette", cursive;
  --font-open-sans: "Open Sans", sans-serif;
  --font-light: 300;
}

/**
 * Functions
 */
/**
 * Placeholders
 */
.u-visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.c-main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Styles
 */
/**
 * Elements
 */
/* body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-open-sans);
} */

/**
 * Objects
 */
.o-page {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
}

.o-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.o-main-section {
  margin: 0 auto;
  max-width: 37.5rem;
}

/**
 * Components
 */
.c-logo {
  font-family: var(--font-courgett);
  font-size: 1.625rem;
  margin: 0;
}

.c-logo__link {
  color: var(--black);
  text-decoration: none;
}

.c-main-menu {
  font-weight: 500;
}

.c-main-menu__list {
  display: flex;
}

.c-main-menu__link {
  color: var(--black);
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: 0.25rem;
  margin: 0 0.375rem;
  padding: 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
}

.c-main-heading {
  font-size: 2.5rem;
  font-weight: var(--font-light);
  letter-spacing: 0.1875rem;
  margin: 3.75rem 0;
  text-align: center;
  text-transform: uppercase;
}

.c-article__link {
  align-items: center;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 0;
  padding: 1.25rem;
  text-decoration: none;
}
.c-article__link * {
  pointer-events: none;
}

.c-article__heading {
  font-size: 1.25rem;
  margin: 0.625rem 0;
}

.c-article__content {
  line-height: 1.5;
  margin: 0.625rem 0;
}

.c-article__img-wrapper {
  height: 6.25rem;
  margin-left: 1.25rem;
  min-width: 10rem;
  width: 10rem;
}

.c-article__img {
  border-radius: 0.125rem;
  display: block;
  height: 100%;
  filter: grayscale(1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s ease-in;
  width: 100%;
}
.c-article__link:hover .c-article__img {
  filter: grayscale(0);
}

.c-magic-area {
  position: absolute;
  z-index: -1;
}

.c-magic-area--menu {
  background-color: var(--gray);
  border-radius: 0.125rem;
}

.c-magic-area--content {
  background-color: var(--gray);
  border-radius: 0.125rem;
}
.c-magic-area--content::before {
  background-color: var(--black);
  content: "";
  height: 70%;
  left: -0.1875rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.375rem;
}

.c-author {
  color: #404040;
  margin: 10px 0;
  text-align: center;
}

.c-author__link {
  color: #404040;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.c-author__link::before, .c-author__link::after {
  bottom: 0;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  z-index: -1;
}
.c-author__link::before {
  background-color: rgba(64, 64, 64, 0.15);
  width: 100%;
}
.c-author__link::after {
  background-color: #c584f8;
  transition: width 0.3s ease-in-out;
  width: 0;
  will-change: width;
}
.c-author__link:hover::after {
  width: 100%;
}

.c-fe30 {
  -webkit-animation: fe30-anime 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 4s forwards;
          animation: fe30-anime 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 4s forwards;
  bottom: 0;
  display: none;
  opacity: 0;
  position: fixed;
  right: 0;
}
.is-desktop .c-fe30 {
  display: block;
}

.c-fe30__inner {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  color: #2d2f31;
  font-size: 14px;
  line-height: 1.45;
  margin: 10px;
  padding: 20px 20px 10px;
  transform: perspective(1000px) rotateX(0) rotateY(0) scale3d(1, 1, 1);
  transform-style: preserve-3d;
  width: 250px;
}

.c-fe30__photo {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  display: block;
  height: 80px;
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%) translateZ(26px);
  width: 80px;
}

.c-fe30__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.c-fe30__link {
  color: #c584f8;
  display: inline-block;
  transform: translateZ(18px);
}
.c-fe30__link:hover {
  text-decoration: none;
}

@-webkit-keyframes fe30-anime {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fe30-anime {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/**
 * Utilities
 */